body {
  font-family:'Pontano Sans';
  background-color: whitesmoke;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
}
/* Navigation CSS */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373738;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 5px 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.butter{
  background-color: #000000;
  color:whitesmoke;
  height:40px;
}


.inline-block {
  display: inline-block;
  vertical-align: top;
}

.inline-block {
  display: inline-block;
  text-align: center;
}

.logo {
  width: 23%;
  padding: 1%;
}

nav {
  width: 73%;
  padding: 1%;
  margin-left: auto;
}

ul {
  width: 45%;
  margin-left: auto;
}

.logo img {
  text-align: center;
}

/* Hero Image CSS */
#heroImg {
  float:left;
  width: 45%;
  padding: 40px;
  ;
}

.PortImg{width: 30%; 
}

button{width: 80%;
  margin-left: 10%;background-color: 
  rgb(173, 183, 188);}

.Icon{
  width:72px;
  height:72px;
}

.content {
  width: 600px;
  background-color: rgb(178, 178, 178);
  padding: 5%;
  margin: 0 auto;
  
}
.about {
  width: 600px;
  
  padding: 5%;
  margin: 0 auto;
  
}
#Intro{
  padding: 10%;
}
/* My UX Skills Section */
/*  My UX Skills section coded using CSS flex */
.mySkills {
  margin: 50px auto;
  max-width: 800px;
}
h1{
  font-size: 54pt;
  
}

.about h1 {
  text-align: center;
  margin-bottom: 30px;
}
.about p {
  margin: 10%;
}

.mySkills h1 {
  text-align: center;
  margin-bottom: 30px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: rgb(234, 222, 199);
}

.flex-item {
  display:flex; /* Shifts skils sideways */
  justify-content: space-between;
  width: 40%;
  padding: 20px;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 8px;
  background-color: #acb8bc;
  align-items:center;

}

.flex-item img {
  display: block;
  margin: 0 auto;
  padding:2%;
}

.flex-item h3 {
  text-align: center;
  margin: 30px 0;
}

.flex-item p {
  text-align: center;
}


/* Simple Grid */

.pProtext{
  font-size: 9px;
color:#ffffff;}
.projectImg{
  width: 100%;
  
}
.proButt{
  background-color: #000000;
  color:whitesmoke;
  height:40px;
  width:150PX;
}
.proTitle{
  align-self:center;
  color:#ffffff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin:auto;
  max-width: 70%;
  justify-content: center;
  }

.grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  grid-gap: 6px;
   background-color: #727472;
  padding: 20%;
  text-align: center;
  border-radius: 5%;
   
  width: 80%; 
  font-size: 20px;
  }
  

/* Footer CSS */
footer {
  background-color: #373738;
  padding: 10px;
}

footer ul {
  display: inline-block;
  vertical-align: top;
  padding: 50;
}

footer li {
  padding: 5px;
  color: white;
}

